*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-behavior: cubic-bezier(0.75,0.75,0.75,1);
}

body{
    background-image: linear-gradient(to bottom, rgb(61, 61, 249), darkblue, rgb(24, 2, 219));
}
.nav{
    background: #0066cc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 60px;
    z-index: 100;
}
.logo{
    display: flex;
    gap: 13px;
    padding-left: 40px;
    font-size: 25px;
    font-weight: 900;
    
}
.logo img{
    margin: 9px 0px 0px 0px;
}
.logo a{
    text-decoration: none;
    color: #ffffff;
}
.smooth-underline {
    position: relative;
    text-decoration: none;
    color: #ffffff; 
  }
  

  .hidden {
    display: none;
  }
  .close {
    position: fixed;
    right: 2.5rem;
  }
  .close:hover {
    border: 1px solid black ;
    background-color: #d5d5d5;
    border-radius: 2px;
  }
  .smooth-underline::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffffc6; 
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .smooth-underline:hover::before {
    visibility: visible;
    transform: scaleX(1);
  } 
main{
    height: 52px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-box{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.main-box .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media only screen and (max-width:840px){
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box{
        margin: 10px 10px;
    }
    .bottom{
        margin-top: 0;
    }
}
.message{
    text-align: center;
    background: #f9eded;
    padding: 15px 0px;
    border:1px solid #699053;
    border-radius: 5px;
    margin-bottom: 10px;
    color: red;
}
label {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

select {
    font-size: 14px;
    padding: 8px;
}

#capital {
    font-size: 16px;
    font-weight: bold;
    color: #0066cc;
    margin-top: 10px;
}
.right-links {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    gap: 33px;
    padding-right: 10px;
}
.user_logo i{
    color: white;
}
.dropbtn{
    padding: 0.2rem;
    border: none;
    border-radius: 4px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 332px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0px 0px 0px 9px;
    border-radius: 1rem;
}

.dropdown-content a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content div{
    gap: 9px;
    display: flex;
    align-items: center;
}
.down{
    display: none;
}
.dropdown-content div:hover .down{
    display: flex;
}
.dropdown-content div:hover .right{
    display: none;
}
.parallax-container{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
}
.parallax {
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-color: #666;
    background-attachment: fixed;
}
.parallax div{
    color: white;
    padding-top: 13%;
    padding-left: 5%;
    font-size: 1.7rem;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}
.gap{
    gap: 8rem;
}
.space-even{
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    padding: 0.3rem;
}
a:hover{
    text-decoration: underline;
}
.hero {
    color: white;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    padding: 50px 0 100px;
    margin-bottom: -3rem;
}
.heading h2{
    width: 40%;
    font-size: 2rem;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 2rem;
}
.next-page {
    cursor: pointer;
    margin-top: 30px;
    background-color: white;
    font-size: 1.3rem;
    padding: 0.3rem;
    font-weight: 700;
    border-radius: 5px;
}

.next-page:hover {
    background-color: rgb(211, 209, 209);
}
h4:hover{
    text-decoration: underline;
}
.container{
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.meet{
    padding-left: 0.5rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}
.chat-container {
    position: fixed;
    bottom: 0px; /* Adjust as needed */
    right: 15px; /* Adjust as needed */
    width: 200px; /* Adjust as needed */
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.chat:hover .chat-container{

opacity: 1;
}


.chat{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.chat:hover {
    box-shadow: 0 0 20px white;
}
.chat-box {
    height: 180px;
    overflow-y: auto;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    padding: 10px;
}

.chat-bot {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.chat-bot input{
    width: 100%;
    padding: 2px 0px 2px 7px;
}
.chat-container button {
    margin-top: 10px;
    padding: 5px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.user-message {
    background-color: #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.box{
    background-color: rgb(224, 224, 240);
    border-radius: 10px;
    width: 14rem;
    height: 16rem;
    background-color: #f4f4f4;
    margin-left: 15px;
    text-align: center;
}
.names{
    .tag{
        opacity: 0.8;
    }
    p{
        font-size: 1.2rem;
        font-weight: 700;
        width: 14rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    display: flex;
    justify-content: space-evenly;
    margin-top: -34px;
}
.box img{
    border-radius: 10px;
    width: 14rem;
    height: 16rem;
    box-shadow: -5px 5px 0 rgb(255, 255, 255);

}
.info{
    position: absolute;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    background-color: rgb(235, 243, 224);
    color: black;
    border: 1px solid black;
    border-radius: 0 10px 10px 10px;
    width: 210px;
    height: 0;
} 
.box:hover .info{
    opacity: 1;
    transition: all 0.6s ease-out;
    height: 6rem;
}
.cta-btn {
    width: 8rem;
    margin-bottom: 3rem;
    padding: 10px 20px;
    background: #e10d54;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.cta-btn:hover{
    background-color: #ed1f64;
}
.features {

    margin-top: 6rem;
    text-align: center;
    padding: 50px 0;
}
.features h2{
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}
.feature-box {
    background: #f4f4f4;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}
.testimonials h2{
    font-size: 2rem;
}
.testimonials {    
    text-align: center;
    background: #2052c6;
    color: #fff;
    padding: 50px 0;
}

.testimonial-box {
    background: #150682;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}
footer {
    margin-top: 15px;
}
.foot-panel1 {
    height: 4px;
    display: flex;
    background-color: white;
    color: black;
    padding: 1.5rem 0 1.5rem 0;
    align-items: center;
    justify-content: center;
    font-size: 1rem;

    a {
        border: 3px solid rgb(118, 219, 246);
        border-radius: 100rem;
        background-color: rgb(203, 241, 252);
    }

    a:hover {
        background-color: rgb(202, 225, 251);
    }

    a:active {
        transform: scale(0.95);
    }
}

.foot-panel2{
    background-color: #022548;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;    
}

ul p {
    font-weight: 750;
}

ul {
    margin-top: 20px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4 {
    background-color:#02274E ;
    color: white;
    height: 80px;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-align: center;
}

.pages {
    padding-top: 25px;
}

.copyright {
    padding-top: 6px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgba(1, 0, 59, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #004a99;
    border-radius: 10px;
}